.showcase-list {

    @include device(desktop) {
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 16px;
    }

    @include device(mobile) {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
    }
}