{{ ##
    Description: Renders the product view
    Params:
        - product: product data
    Usage:
        product_view product: product
## }}
<div id="add-cart-alert"></div>
<div class="flex flex-col relative sm:flex-row justify-start w-full">
    <div class="flex mr-5 lg:min-w-[40%]">
        {{~ product_image images: product.images ~}}
    </div>
    <div class="flex flex-col md:min-w-[55%]">
        <div class="flex justify-between items-center w-full p-1 mb-4">
            {{~ if product.product_brand ~}}
                {{~ product_brand brand: product.product_brand ~}}
            {{~ end ~}}
        </div>
        <h5 class="text-2xl mb-4">{{ product.product_name }}</h5>
        {{~
            promotionsTypes = product.promotions | group.by @(do; ret $0.disclosure_type;end)
            promotionsPagProduto = promotionsTypes | group.get "Página produto"
            stamps promotions: promotionsPagProduto
            installment_plans = product.prices.installment_plans 
        ~}}
        <div class="flex">
            {{~ discount_percentage = 0 ~}}
            <div id="product-prices-div" class="flex flex-col w-full">
                {{~ 
                    product_price prices: product.prices
                    discount_percentage = product.prices.discount_percentage
                    product_installments installments: installment_plans 
                ~}}
            </div>
            <div class="">
                {{ product_discount discount_percentage: discount_percentage }}
            </div>
        </div>
        <div class="">
            {{ buy_list_attribute product: product }}
        </div>
        <div class="">
            {{~ if product.buy_list_id ~}}
                <h2>Produtos da lista de compra</h2>
                {{ for product in product.buy_list_products}}
                    <div id="buy-list-product-div-{{ product.product_id }}" 
                    class="" product-id="{{ product.product_id }}"></div>
                {{ end }}
            {{~ end ~}}
        </div>
    </div>
</div>