<tfoot class="footer">
    <tr>
        <td>
            <img src="https://benova.fbitsstatic.net/sf/img/emails/email-rodape.png?theme=version&amp;v=202311062103&amp;w=" alt="{{ configuracao.nome_ecommerce }}" title="{{ configuracao.nome_ecommerce }}" />
            <p class="footer-text">
                Por favor não responda este e-mail. Para qualquer dúvida ou informações
                <a class="footer-href" href="/fale-conosco"> clique aqui</a>
            </p>
        </td>
    </tr>
</tfoot>