{{ ##
Description: Renders the spot image
Params:
- product: single product data
Usage:
spot_image product: product
## }}
{{~ if product.images.size > 0 ~}}
{{~ image_url = product.images[0].url ~}}
{{~ for image in product.images offset:1 ~}}
{{~ if !image.print ~}}
{{~ second_image = image.url ~}}
{{~ break ~}}
{{~ end ~}}
{{~ end ~}}
{{~ else ~}}
{{~ image_url = "https://" + store.store_name + ".fbitsstatic.net/img/p/produto-nao-possui-foto-no-momento/sem-foto.jpg?w=250&h=250&v=20220125251131&qs=ignore" ~}}
{{~ end ~}}
{{~
if priority == true
priority_tag = "fetchpriority=\"high\""
end

if lazy == true
lazy_tag = "loading=\"lazy\""
end
~}}
<a class="buy-together__images" href="/{{ product.alias }}">
    <img src="{{ image_url }}" alt="Product image" class="buy-together__image" {{priority_tag}} {{lazy_tag}} />
</a>