{{~ if product.buy_together ~}}
{{~ if product.buy_together.size > 0 ~}}
<div class="buy-together">
    <h2 class="home-showcase__title">{{ "Compre Junto" | lang }}</h2>
    {{~ for bt_product in product.buy_together ~}}
    <div buy-together-row-div id="buy-together-row-{{ product.product_id }}-{{ bt_product.product_id }}" class="buy-together__items" buy-together-product-id="{{ bt_product.product_id }}" page-product-id="{{ product.product_id }}">
    </div>
    {{~ end ~}}
</div>
{{~ end ~}}
{{~ end ~}}