{{ ##
    Description: Renders attributes of type "Combo"
    Params:
        - attribute_selections: product attribute selections data
        - product_id: page product ID
    Usage:
        product_attributeCombo attribute_selections: attribute_selections product_id: product_id
## }}

{{func select_combo(attr)
    ret attr.display_type == "Combo"
end}}
{{~ comboAttributes = attribute_selections.selections | array.filter @select_combo ~}}

{{~ if comboAttributes ~}}
    <div class="attribute-container" attribute-selections>
        <div class="attribute-container__itens">
            {{~ selectedAttr = "" ~}}
            {{~ for attr in comboAttributes ~}}        
                <p class="attribute-container__title">{{ attr.name | string.upcase }}</p>
                <select class="form-select"
                {{~ if attr.vary_by_parent ~}}
                onchange="location = this.value;"
                {{~ else ~}}
                onchange="SelectAttribute(this.options[this.options.selectedIndex]);"
                {{~ end ~}} >
                    {{~ for value in attr.values ~}}
                        {{~ if value.selected ~}}
                            {{~ selectedAttr = value.value ~}}
                        {{~ end ~}}
                        {{~ optionId = attr.attribute_id | string.append "__" | string.append value.value ~}}
                        <option value='{{ if attr.vary_by_parent }} {{ "/" | string.append value.alias }} {{ else }} {{ value.value }} {{ end }}' 
                            id="{{ optionId }}__{{ product_id }}"
                            attribute-id = "{{ attr.attribute_id }}"
                            product-id = "{{ product_id }}"
                            {{ if value.selected }} selected {{ end }} 
                            {{ if !value.available && !attr.vary_by_parent }} disabled {{ end }}>
                            {{ value.value }}
                        </option>
                    {{~ end ~}}
                </select>
                {{~ if selectedAttr != "" ~}}
                <input type="hidden" id="hidden-selected-attribute-{{product_id}}-{{ attr.attribute_id }}" name="hidden-selected-attribute-{{ attr.attribute_id }}" value="{{ selectedAttr }}">
                {{~ end ~}}
            {{~ end ~}}
        </div>
    </div>
{{~ end ~}}