{{ ##
    Description: Data layer hotsite component, saves the info of products
                to use when pushing the data to the datalayer
    Params:
        - product: the product data to save in tag manager
    Usage:
        data_layer_view_item_list product: products.items
## }}
<script>
    // Função para obter 'category_id' com base em 'name'
    const getDepartamentID = (data, name) => {
        for (var i = 0; i < data.value.length; i++) {
            var item = data.value[i];
            for (var j = 0; j < item.length; j++) {
                if (item[j].key === "name" && item[j].value === name) {
                    for (var k = 0; k < item.length; k++) {
                        if (item[k].key === "category_id") {
                            return item[k].value;
                        }
                    }
                }
            }
        }
        return null;
    }

    const categoriesInfo = {{categories}}[0]
    const breadcrumb = {{hotsite.breadcrumbs}}
    var currentDptoName = ""
    var departmentView = {
        departmentId: "",
        departmentName: ""
    }

    var categoryView = {
        departmentId: "",
        departmentName: "",
        categoryId: "",
        categoryName: ""
    }

    breadcrumb.map((dpto, index) => {
        const dptoName = dpto.filter((item) => item.key == 'text')[0]?.value
        const dptoUrl = dpto.filter((item) => item.key == 'link')[0]?.value
        const departmentId = getDepartamentID(categoriesInfo, dptoName);
        if(index == 0){
            departmentView = {
                departmentId: departmentId,
                departmentName: dptoName
            }

            currentDptoName = dptoName
        }else{
            categoryView = {
                ...departmentView,
                categoryId: departmentId,
                categoryName: dptoName
            }

            currentDptoName = dptoName
        }

    })

    if( (departmentView.departmentId !== "") && (categoryView.categoryId == "")){
        dataLayer.push({
            event: "departmentView",
            ...departmentView
        })
    }



    if(categoryView.categoryId !== ""){
        dataLayer.push({
            event: "categoryView",
            ...categoryView
        })
    }



    const productImpressions = {
        currencyCode: "BRL",
        items: [
            {{~ for product in products ~}}
                {
                    id: {{product.product_id}},
                    name: "{{product.product_name | string.escape}}",
                    {{~ if product.prices ~}}
                        discount: {{product.prices.list_price - product.prices.price}},
                        price: {{product.prices.list_price}},
                    {{ end }}
                    position: 0,
                    {{ if product.product_brand}}
                        brand: "{{product.product_brand.name}}",
                    {{ end }}
                    {{ i = 1 }}
                    {{ for category in product.product_categories }}
                        category{{if i > 1}}{{ i }}{{end}}:"{{category.name}}",
                        {{i = i + 1}}
                    {{ end }}
                    quantity: 1
                }{{if !for.last}},{{end}}
            {{~ end ~}}
        ]
    };

    dataLayer.push({
        event: "productImpression",
        ecommerce: {
            ...productImpressions
        }
    })

    const view_item_list = {
        item_list_name: currentDptoName,
        items: [
            {{~ for product in products ~}}
                {
                    item_id: {{product.product_id}},
                    item_name: "{{product.product_name | string.escape}}",
                    {{~ if product.prices ~}}
                        discount: {{product.prices.list_price - product.prices.price}},
                        price: {{product.prices.list_price}},
                    {{ end }}
                    index: 0,
                    {{ if product.product_brand}}
                        item_brand: "{{product.product_brand.name}}",
                    {{ end }}
                    {{ i = 1 }}
                    {{ for category in product.product_categories }}
                        item_category{{if i > 1}}{{ i }}{{end}}:"{{category.name}}",
                        {{i = i + 1}}
                    {{ end }}
                    quantity: 1
                }{{if !for.last}},{{end}}
            {{~ end ~}}
        ]
    };

    window.dataLayer = window.dataLayer || [];
    dataLayer.push({
        event: "view_item_list",
        ecommerce: {
            ...view_item_list
        }
    })

</script>