<section class="newsletter">
    <div class="newsletter-columns">
        <div class="newsletter-titles">
            <p class="newsletter-title">Newsletter</p>
            <p class="newsletter-subtitle">Mantenha-se atualizado sobre as nossas ofertas e promoções.</p>
        </div>
        <form class="newsletter-form" id="newsletter-form" onsubmit="newsletterSubmit(event);">
            <div class="newsletter-form__fields">
                <input class="newsletter-form__input" id="newsletter-form-email" type="email" placeholder="Seu melhor email" required>
                <button class="newsletter-form__button" type="submit">Cadastrar</button>
            </div>
            <p id="alert-newsletter"></p>
        </form>
    </div>
</section>