{{ products = search_data.products?? search_data.products_by_offset }}

<script>
    const params = new Proxy(new URLSearchParams(window.location.search), {
    get: (searchParams, prop) => searchParams.get(prop),
    });

    const search_record_data = {
        input: {
            query: params.busca, 
            pageUrl: window.location.href, 
            page: {{ current_page ?? 1 }}, 
            pageSize: {{ search_data.page_size }},
            totalResults: {{ products.total_count }}
        }
    };
</script>