<section class="header-top">
  <div class="content">
    <a class="header-top__text" href="mailto:benova@benova.ag">benova@benova.ag</a>

    <ul class="header-top__menu">
      <li class="top-menu__item">
        <a class="top-menu__href" href="{{store.urls.checkout}}MinhaConta">
          Minha Conta
        </a>
      </li>
      <span>|</span>
      <li class="top-menu__item">
        <a class="top-menu__href" href="{{store.urls.checkout}}MinhaConta/Pedido">
          Meus Pedidos
        </a>
      </li>
    </ul>
  </div>
</section>