<!-- <button class="spot-wishlist product-wishlist" type="button" id="wishlist-button-{{product_id}}" onclick='wishlistAddClick(this, "{{product_id}}");' aria-label="Add to wishlist" alt="wishlist">
    Adicionar aos favoritos
</button> -->

<button class="spot-wishlist product-wishlist" type="button" id="wishlist-button-{{product_id}}" onclick='wishlistAddClick(this, "{{product_id}}");' aria-label="Add to wishlist" alt="wishlist">
    <p id="wishlist-icon-{{product_id}}">Adicionar aos favoritos</p>
</button>