{{##
    Description: Renders the 'buy' and 'add to cart' buttons and calls attribute components.
    Params:
        - product: product data
    Usage:
        product_attribute product: product
##}}
{{~ if product.attribute_selections ~}}
    {{~ attribute_selections = product.attribute_selections ~}}
    <div attribute-selections>
        {{~
            grouped_attribute_selections = attribute_selections.selections | group.by @(do; ret $0.display_type;end)
            combo_attr = grouped_attribute_selections | group.get "Combo"
            div_attr = grouped_attribute_selections | group.get "DIV"
            div_img_attr = grouped_attribute_selections | group.get "DIV com foto do produto variante"
            div_color_attr = grouped_attribute_selections | group.get "DIV com cor"
            product_combo_attribute attribute_selections: combo_attr product_id: product.product_id on_click: "selectAttribute"
            product_div_attribute attribute_selections: div_attr product_id: product.product_id on_click: "selectAttribute"
            product_div_with_image_attribute attribute_selections: div_img_attr product_id: product.product_id on_click: "selectAttribute"
            product_div_with_color_attribute attribute_selections: div_color_attr product_id: product.product_id on_click: "selectAttribute"
        ~}}
    </div>
    {{~ 
        available = true
        variant_id = ""
        stock = 0
        if attribute_selections.selected_variant
            variant_id = attribute_selections.selected_variant.product_variant_id
            available = attribute_selections.selected_variant.available
            stock = attribute_selections.selected_variant.stock
        else if attribute_selections.selections.size == 0
            variant_id = product.product_variant_id
            available = product.available
            stock = product.stock
        end 
    ~}}
    <div class="row">
        {{~ if ! available ~}}
            <h3>Produto esgotado</h3>
            {{ product_back_in_stock }}
        {{~ end ~}}
    </div>
{{~ end ~}}
<br>