{{~ if banners && position ~}}
{{func has_position(x)
ret x.position == position
end}}
{{~ banners = banners | array.filter @has_position ~}}
{{~ end ~}}

{{~ if banners ~}}
{{~ banners = banners | array.sort "order" ~}}
{{~ for banner in banners ~}}
{{~ alt = banner.alt_text ?? "banner" ~}}
{{~ title = banner.title ?? "banner" ~}}
{{~ href = banner.url_on_click ?? "banner" ~}}

<a class="banner-href" href="{{href}}" title="{{title}}">
  {{~ image source: banner.banner_url alt: alt title: title class: "banner-image" ~}}
</a>

{{~ end ~}}
{{~ end ~}}