{{ ##
    Description: The product data layer view event component, saves the info of the 
                product to pushing the view event to the datalayer
    Params:
        - product: the product data to save in the data layer
    Usage:
        data_layer_product_view product: data.product
## }}
<script>
    const data_layer_product_details = {
        currency: "BRL",
        value: {{ product.prices.price }},
        items: [
            {
                item_id: {{ product.product_id }},
                item_name: "{{ product.product_name | string.escape }}",
                {{~ if product.prices ~}}
                    discount: {{ product.prices.list_price - product.prices.price }},
                    price: {{ product.prices.list_price }},
                {{~ end ~}}
                index: 0,
                {{~ if product.product_brand ~}}
                    item_brand: "{{product.product_brand.name}}",
                {{~ end ~}}
                {{~ i = 1 ~}}
                {{~ for category in product.product_categories ~}}
                    item_category{{if i > 1}}i{{end}}:"{{category.name}}",
                    {{~ i = i + 1 ~}}
                {{~ end ~}}
                {{~ if product.attribute_selections.selected_variant ~}}
                    item_variant: "{{product.attribute_selections.selected_variant.alias}}",
                {{~ end ~}}
                quantity: 1
            }
        ]
    };
</script>