{{ ##
    Description: Data layer cart component, saves the info of product
                    to use later on the events
    Params:
        - product: the product data to save in tag manager
    Usage:
        data_layer_cart_view product: data.product
## }}
<script>
    const data_layer_cart_details = {
        currency: "BRL",
        value: {{ checkout.subtotal }},
        items: [
            {{~ for product in checkout.products ~}}
                {
                item_id: {{product.product_id}},
                item_name: "{{product.name | string.escape}}",
                {{~ if product.prices ~}}
                    discount: {{ product.prices.list_price - product.prices.price }},
                    price: {{ product.prices.list_price }},
                {{~ end ~}}
                index: 0,
                {{ i = 1 }}
                {{ for category in product.product_categories }}
                    item_category{{if i > 1}}i{{end}}:{{category.name}},
                    {{i = i + 1}}
                {{ end }}
                quantity: 1
                }{{if !for.last}},{{end}}
            {{end}}
        ]
    };
</script>