{{ ##
	Description: Component for configuring the Data layer
    Params:
        - shop_settings : the store settings from the admin, to get the google id
    Usage:
        gtag_config shop_settings: common.shop_settings
## }}
{{ gtm_id = gtm_id != null ? gtm_id[0]?.value : null }}
{{ if gtm_id }}
<script>
	let gtag = [];
	function gtagSetup (userId) {
		if (window.gtmDidInit) return false;
		window.gtmDidInit = true;
		const script = document.createElement('script');
		script.type = 'text/javascript';
		script.onload = () => { 
			window.dataLayer = window.dataLayer || [];
			gtag = function(){dataLayer.push(arguments);}
			gtag('js', new Date());
			if (userId)
				gtag('config', "{{ gtm_id }}", {
					'user_id': userId
				});
			else
				gtag('config', "{{ gtm_id }}");
			
			window.dispatchEvent(new CustomEvent("tagManagerConfigured"));
		}
		script.src = 'https://www.googletagmanager.com/gtag/js?id={{~gtm_id~}}';
		script.defer = true;
		document.getElementsByTagName('body')[0].appendChild(script);
	}
</script>
<!-- /Google tag (gtag.js) -->
{{end}}